MinStat.AnalizeUI/Service References/StatisticDataReference/StatisticDataService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.fem-sut.spb.ru/" elementFormDefault="qualified" targetNamespace="http://www.fem-sut.spb.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://synchrophasa-pc/StatisticService/StatisticDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MinStat.DAL.POCO.ResultItems" />
  <xs:element name="GetFullReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="enterpriseId" type="xs:int" />
        <xs:element minOccurs="0" name="federalSubjectId" type="xs:int" />
        <xs:element minOccurs="0" name="federalDistrictId" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MinStat.DAL.POCO.ResultItems" minOccurs="0" name="GetFullReportResult" nillable="true" type="q1:ArrayOfStatisticData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsolidateReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="enterpriseId" type="xs:int" />
        <xs:element minOccurs="0" name="federalSubjectId" type="xs:int" />
        <xs:element minOccurs="0" name="federalDistrictId" type="xs:int" />
        <xs:element minOccurs="0" name="subsectorId" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsolidateReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MinStat.DAL.POCO.ResultItems" minOccurs="0" name="GetConsolidateReportResult" nillable="true" type="q2:ArrayOfStatisticData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>