MinStat.Enterprises.WebUI/Service References/EnterpriseServiceReference/EnterpriseDataService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/EnterpriseService/EnterpriseDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MinStat.Enterprises.DAL.POCO" />
  <xs:import schemaLocation="http://localhost/EnterpriseService/EnterpriseDataService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetSummaries">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSummariesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MinStat.Enterprises.DAL.POCO" minOccurs="0" name="GetSummariesResult" nillable="true" type="q1:ArrayOfSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="activitiesIds" nillable="true" type="q2:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSummaryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CopySummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="summaryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopySummaryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="summaryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSummaryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="summaryId" type="xs:int" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="activitiesIds" nillable="true" type="q3:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSummaryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddActivities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="summaryId" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="activitiesIds" nillable="true" type="q4:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddActivitiesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="summaryId" type="xs:int" />
        <xs:element minOccurs="0" name="activitiId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveActivityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPeoplesArraySize">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="summaryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPeoplesArraySizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPeoplesArraySizeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPeoples">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="summaryId" type="xs:int" />
        <xs:element minOccurs="0" name="size" type="xs:int" />
        <xs:element minOccurs="0" name="offset" type="xs:int" />
        <xs:element minOccurs="0" name="orderby" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPeoplesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MinStat.Enterprises.DAL.POCO" minOccurs="0" name="GetPeoplesResult" nillable="true" type="q5:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="summaryId" type="xs:int" />
        <xs:element minOccurs="0" name="activityId" type="xs:int" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="post" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postLevelId" type="xs:int" />
        <xs:element minOccurs="0" name="educationLevelId" type="xs:int" />
        <xs:element minOccurs="0" name="yearSalary" type="xs:decimal" />
        <xs:element minOccurs="0" name="gender" type="xs:boolean" />
        <xs:element minOccurs="0" name="wasQualificationIncrease" type="xs:boolean" />
        <xs:element minOccurs="0" name="wasValidate" type="xs:boolean" />
        <xs:element minOccurs="0" name="birthYear" type="xs:int" />
        <xs:element minOccurs="0" name="hiringYear" type="xs:int" />
        <xs:element minOccurs="0" name="startPostYear" type="xs:int" />
        <xs:element minOccurs="0" name="dismissalYear" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePersonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personId" type="xs:int" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="post" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postLevelId" type="xs:int" />
        <xs:element minOccurs="0" name="educationLevelId" type="xs:int" />
        <xs:element minOccurs="0" name="yearSalary" type="xs:decimal" />
        <xs:element minOccurs="0" name="gender" type="xs:boolean" />
        <xs:element minOccurs="0" name="wasQualificationIncrease" type="xs:boolean" />
        <xs:element minOccurs="0" name="wasValidate" type="xs:boolean" />
        <xs:element minOccurs="0" name="birthYear" type="xs:int" />
        <xs:element minOccurs="0" name="hiringYear" type="xs:int" />
        <xs:element minOccurs="0" name="startPostYear" type="xs:int" />
        <xs:element minOccurs="0" name="dismissalYear" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePersonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePersonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MinStat.Enterprises.DAL.POCO" minOccurs="0" name="GetActivitiesResult" nillable="true" type="q6:ArrayOfActivity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivitiesBySummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="summaryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivitiesBySummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MinStat.Enterprises.DAL.POCO" minOccurs="0" name="GetActivitiesBySummaryResult" nillable="true" type="q7:ArrayOfActivity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="summaryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishSummaryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>